html,body{
    background: #ffffff;
    font-family: "Century Gothic";
    height:100%;
}

header{
    background: url("../images/header-bg.png") no-repeat;
    width: 100%;
    height: 396px;
    float:left;
}

.close-window{
    font-size:30px;
    margin:12px 8px 0 0;
    color: #df5e5e;
    float:right;
    position:absolute;
    right:0;
    z-index:1000000;
}

#logo-block{
    width:100%;
    height:220px;
    float:left;
}

#logo-block .logo{
    background: url("../images/logo.png");
    width: 200px;
    height: 168px;
    margin:24px auto;
}

#header-text{
    width: 100%;
    height: 114px;
    float:left;
}

#header-text #inner-text{
    width: 1096px;
    margin: 0 auto;
}

#header-text #inner-text p{
    font-size:14px;
    text-align: center;
    margin-bottom:18px;
    line-height: 1.6;
    width:95%;
}

#header-text #inner-text p#text-title{
    font-size:18px;
    line-height: 1;
}

#mobile_menu{
    display:none;
}

#menu{
    background: #ffa359;
    width:100%;
    height:59px;
    float:left;
}

#menu ul{
    width:1096px;
    margin:0 auto;
}

#menu ul li{
    float:right;
    margin-left:25px;
    padding:20px 10px 0 10px;
    height:100%;
    list-style-type: none;
    transition: 0.1s ease-in-out 0.1s;
    -webkit-transition: 0.1s ease-in-out 0.1s;
    -moz-transition: 0.1s ease-in-out 0.1s;
    -o-transition: 0.1s ease-in-out 0.1s;
}

#menu ul li:first-child{
    float:left;
    margin-left:0;
}

#menu ul li:first-child:hover{
    background: transparent;
}

#menu ul li:hover{
    background: #FFF;
}

#menu .cart_count,#mobile_menu_block .cart_count{
    background: #FFF;
    font-size:15px;
    padding:2.7px 6px 2.7px 6px;
    text-align: center;
    margin:-2px 0 0 5px;
    float:right;
    border-radius: 10px;
    transition: 0.1s ease-in-out 0.1s;
    -webkit-transition: 0.1s ease-in-out 0.1s;
    -moz-transition: 0.1s ease-in-out 0.1s;
    -o-transition: 0.1s ease-in-out 0.1s;
}


#menu ul li:hover .cart_count,#mobile_menu_block ul li:hover .cart_count{
    background: #ffa359;
}

#mobile_menu_block .cart_count{
    float:none;
    display: inline-block;
}


#menu ul li a{
    text-decoration: none;
    color:#292927;
    font-size:18px;
    float:left;
    height:100%;
}

#wrapper{
    width: 100%;
    height:auto;
    float:left;
}

#content{
    width:1096px;
    min-height: 100%;
    margin: 0 auto;
}

#content ul.lang{
    float:right;
    margin:17px 30px 0 0;
}

#content .lang li{
    float:left;
    list-style-type: none;
    font-size: 18px;
}

#content .lang li a{
    color:#292927;
    list-style-type: none;
    text-decoration: none;
    transition: 0.1s ease-in-out 0.1s;
    -webkit-transition: 0.1s ease-in-out 0.1s;
    -moz-transition: 0.1s ease-in-out 0.1s;
    -o-transition: 0.1s ease-in-out 0.1s;
}

#content .lang li a:hover{
    color:#ffa359;
}

#content #slider{
    margin-top:26px;
}

.content-block{
    width:100%;
    margin-bottom:60px;
    float:left;
}

#hot_price_title{
    font-size: 24px;
    margin-bottom: 7px;
    color: #ffa359;
}

#hot_price{
    border-top:3px solid #ffa359;
}

.sushi_block{
    width: 333px;
    height: 333px;
    float:left;
    margin:0 48.5px 44px 0;
    background: -moz-linear-gradient(45deg, #dadadc 35%, #DADADC 36%, #EDEDED 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(35%, #dadadc), color-stop(36%, #DADADC), color-stop(100%, #EDEDED)); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, #dadadc 35%, #DADADC 36%, #EDEDED 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, #dadadc 35%, #DADADC 36%, #EDEDED 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, #dadadc 35%, #DADADC 36%, #EDEDED 100%); /* ie10+ */
    background: linear-gradient(45deg, #dadadc 35%, #DADADC 36%, #EDEDED 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EDEDED', endColorstr='#dadadc',GradientType=1 ); /* ie6-9 */
}

.sushi_block:nth-child(3n){
    margin-right: 0 !important;
}

.sushi_block img{
    width: 100%;
    height: 100%;
    float:left;
}

.sushi_block .sushi_block_text{
    background: rgba(255,255,255,0.8);
    width:100%;
    height:120px;
    float:left;
    margin-top:-120px;
}

.sushi_block .sushi_block_text span{
    width: 100%;
    text-align: center;
    float:left;
    font-size: 18px;
}

.sushi_block .sushi_block_text span.sushi_text{
    margin-top:20px;
}

.sushi_block .sushi_block_text span.sushi_description{
    font-size:10.5px;
    margin:4px 0 6px -100px;
    width: 180px;
    height: 40px;
    position: relative;
    left: 50%;
}

.sushi_block .sushi_block_text span.sushi_price{
    margin-top:5px;
    color:#c45f5f;
}

.sushi_block .add_sushi,.sushi_block .remove_sushi,.sushi_block .checked_sushi{
    float:right;
    color: #ffa359;
    margin:-54px 28px 0 0;
}

.sushi_block .add_sushi span,.sushi_block .remove_sushi span,.sushi_block .checked_sushi span{
    font-size: 40px;
    width: 40px;
}

.sushi_block .remove_sushi{
    color: #c45f5f;
    display:none;
}

.sushi_block .remove_sushi span{
    font-size: 35px;
    margin-top:3px;
}

.sushi_block .checked_sushi{
    color: #87d287;
    display:none;
}

#catalog_see_all{
    margin: 32px 0 60px 0;
    text-align: center;
}

#catalog_see_all a{
    font-size:  30px;
    color:  #ffa359;
    padding:14px 20px 14px 20px;
    text-decoration: none;
    border: 1px solid #ffa359;
    border-radius: 12px;
    margin-top:32px;
}

#about_us{
    background: url("../images/about-us-bg.png");
    height: 482px;
    color:#292927;
    text-align: center;
    margin-top:18px;
}

#about_us #about-us-text{
    margin-top:60px;
    font-size: 30px;
}

#about_us #about-us-subtitle{
    font-size:24px;
    margin:0 auto;
    margin-top:45px;
    width: 850px;
}

#about_us #about-us-content{
    font-size:18px;
    width: 840px;
    margin:10px auto;
    line-height: 1.5;
}

#reviews .review{
    width:50%;
    float:left;
    text-align: center;
}

#reviews .review .review-image{
    width: 100%;
    float:left;
}

#reviews .review .review-text{
    font-size: 18px;
    font-style: italic;
    line-height: 1.5;
    color:  #292927;
    float:left;
    margin-top:65px;
    width: 470px;
    position:relative;
    left:50%;
    margin-left:-235px;
}

#reviews .review .review-text span{
    color:  #ffa359;
}

#reviews .review .review-text span:first-child{
    float:left;
}

#reviews .review .review-text span:last-child{
    float:right;
}

#reviews .review .review-text p{
    padding:12px 25px 0 25px;
}

#reviews .review-name{
    float:left;
    width: 470px;
    margin:36px 0 0 -235px;
    position: relative;
    left:50%;
    clear:both;
}

#reviews .review-name span{
    width:38px;
    height:1px;
    background: #292927;
    float:left;
    position:relative;
    left:50%;
    margin-left:-18px;
}

#reviews .review-name p{
    margin-top:25px;
}

#contacts .contact-block{
    width:517px;
    height: 412px;
    margin-right: 62px;
    float:left;
}

#contacts .contact-block:nth-child(2){
    margin-right:0;
    background: #ffa359;
    color:  #292927;
    text-align: center;
}

#contacts .contact-block:nth-child(2) p{
    text-align: center;
    font-size:24px;
}

#contacts .contact-block:nth-child(2) p:first-child{
    margin:65px 0 45px 0;
}

#contacts .contact-block:nth-child(2) a{
    font-size: 30px;
    border:1px solid #292927;
    text-decoration: none;
    color:  #292927;
    padding: 10px 15px 10px 15px;
    position: relative;
    top:48px;
}

#contacts .contact-block:nth-child(2) p:nth-child(3){
    margin:30px 0 25px 0;
}


/* catalog */

#catalog_menu{
    background:#f7f7f7;
    width:285px;
    margin-top:30px;
    float:left;
}

#catalog_menu ul li,#mobile_filter_block ul li{
    padding:26px 0 26px 0;
    cursor: pointer;
    transition: 0.1s ease-in-out 0.1s;
    -webkit-transition: 0.1s ease-in-out 0.1s;
    -moz-transition: 0.1s ease-in-out 0.1s;
    -o-transition: 0.1s ease-in-out 0.1s;
}

#catalog_menu ul li label,#mobile_filter_block ul li label{
    cursor: pointer;
}

#catalog_menu ul li:hover{
    background: #ffa359;
}

#mobile_filter_block ul li:hover{
    background: #FFF;
}

#catalog_menu .catalog_title{
    margin-left:20px;
}

#mobile_filter_block .catalog_title{
    margin:60px 0 20px 20px;
    font-size:18px;
}

#catalog_menu ul li,#mobile_filter_block ul li{
    padding-left:25px;
    font-size: 18px;
}

#catalog_menu label span,#mobile_filter_block label span{
    width: 28px;
    height: 28px;
    background: #FFF;
    margin:-6px 22px 0 0;
    border: 1px solid #acacac;
    border-radius: 12px;
    float:left;
}

#catalog_menu label span i,#mobile_filter_block label span i{
    background: url("../images/check.png");
    width:32px;
    height:24px;
    float:left;
    display: none;
}

#catalog_sushi{
    background:#f7f7f7;
    width: 760px;
    margin-top:30px;
    padding:0 20px 0 20px;
    float:right;
}

#catalog_sushi .sushi_block{
    width:243px;
    height:243px;
    margin:0 15px 30px 0;
}

#catalog_sushi .sushi_block .sushi_block_text{
    height:95px;
    margin-top:-95px;
}

.catalog_title{
    margin:27px 0 40px 0;
    padding-left:10px;
    font-size:24px;
}

#catalog_sushi .sushi_block .add_sushi,#catalog_sushi .sushi_block .checked_sushi,#catalog_sushi .sushi_block .remove_sushi{
    margin: -47px 10px 0 0;
}

#catalog_sushi .sushi_block .sushi_block_text span{
    font-size: 15px;
}

#catalog_sushi .sushi_block .add_sushi span,#catalog_sushi .sushi_block .checked_sushi span,#catalog_sushi .sushi_block .remove_sushi span{
    font-size: 25px;
    width:auto;
}

#catalog_sushi .sushi_block .remove_sushi span{
    font-size: 23px;
    margin-top:1px;
}

#catalog_sushi .sushi_block .sushi_block_text span.sushi_price{
    color:inherit;
}

#catalog_sushi .sushi_block .sushi_block_text span.sushi_description{
    font-size:10.5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#catalog_see_more{
    text-align: center;
    margin:45px 0 80px 0;
    clear:both;
}

#catalog_see_more a{
    text-decoration: none;
    color: #292927;
    font-size:24px;
    padding:15px 50px;
    background: #ffa359;
    border-radius: 10px;
    position: relative;
}

/* catalog */

/* cart */

#shopping-cart h1{
    width: 100%;
    text-align: center;
    float:left;
    font-size:30px;
    margin:20px 0 68px 0;
}

#shopping-cart .cart-block{
    width: 100%;
    height:130px;
    float:left;
}

#shopping-cart .cart-block:hover{
    background: #e5e5e5;
}

#shopping-cart .cart-block .block-description{
    width:290px;
    height: 100%;
    float:left;
}

#shopping-cart .cart-block .block-description p{
    font-size:24px;
    margin-left:15px;
}

#shopping-cart .cart-block .block-description p:nth-child(2){
    margin-top:10px;
    font-size:16px;
}

#shopping-cart .cart-block .block-image{
    width:180px;
    height: 100%;
    float:left;
}

#shopping-cart .cart-block .block-image img{
    width: 100%;
}

#shopping-cart .cart-block .item-price,#shopping-cart .cart-block .item-prices{
    width: 200px;
    height: 100%;
    font-size: 24px;
    text-align: center;
    float: left;
}

#shopping-cart .cart-block .add-item-block{
    width:141px;
    height:50px;
    margin-top:36px;
    border:1px solid #292927;
    border-radius:13px;
    -moz-border-radius:13px;
    -webkit-border-radius:13px;
    font-size:24px;
    float:left;
}

#shopping-cart .cart-block .add-item-block a{
    text-decoration: none;
    color: #292927;
}

#shopping-cart .cart-block .add-item-block a,#shopping-cart .cart-block .add-item-block p{
    float:left;
    width: 47px;
    margin-top:12px;
    text-align: center;
}

#shopping-cart  .cart-block .mobile-cart-desc{
    display:none;
}

#shopping-cart .cart-block .action a{
    font-size:40px;
    color: #c45f5f;
    margin:44px 16px 0 0;
    float:right;
}

#shopping-cart #total_price{
    margin:60px 0 60px 0;
}

#shopping-cart #place_order{
    width: 100%;
    text-align: center;
    margin:35px 0 100px 0;
    float:left;
}

#shopping-cart #place_order a{
    width: 300px;
    height: 90px;
    background: #ffa359;
    text-decoration: none;
    padding:25px 32px 25px 32px;
    font-size: 30px;
    color:#FFF;
    border-radius:13px;
    -moz-border-radius:13px;
    -webkit-border-radius:13px;
}

    /* cart */

/* scroll */

.scrollToTop{
    font-size:50px;
    padding:10px;
    text-align:center;
    font-weight: bold;
    color: #ffa359;
    text-decoration: none;
    position:fixed;
    bottom:70px;
    right:40px;
    display:none;
}


/* scroll */


#wrapper-dark{
    background: rgba(0,0,0,0.5);
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 100000000;
    float:left;
    display:none;
}

#wrapper-dark #order-info-box{
    background: #ffa359;
    margin: 80px auto;
    width: 550px;
    height: 600px;
    position: relative;
    z-index: 100000001;
    color:#292927;
}

#wrapper-dark #order-info-box #close_order_info_box{
    margin:7px 10px 0 0;
}

#wrapper-dark #order-info-box form{
    width: 500px;
    top: 60px;
    left: 25px;
    position: relative;
}

#wrapper-dark #order-info-box p{
    text-align: center;
    font-size:18px;
}

#wrapper-dark #order-info-box form p#order-info-title{
    font-size: 25px;
    margin-bottom:20px;
}

#wrapper-dark #order-info-box form .row label,#wrapper-dark #order-info-box form input{
    width:100%;
    font-size:18px;
}

#wrapper-dark #order-info-box form input{
    padding-left: 5px;
}

#wrapper-dark #order-info-box form .row{
    text-align: left;
}

#wrapper-dark #order-info-box form{
    text-align: center;
}

#wrapper-dark #order-info-box form input:focus{
    outline-color: #95a5a6;
}

#wrapper-dark #order-info-box form input{
    margin:10px 0 20px 0;
    height:40px;
}

#wrapper-dark #order-info-box form input[type='submit']{
    width:120px;
    height:40px;
    background: transparent;
    border: 1px solid #292927;
    cursor: pointer;
    font-size:21px;
    color:#292927;
}

#wrapper-dark #order-info-box form input[type='submit']:hover{
    border: 1px solid #FFF;
    color: #FFF;
}

#wrapper-dark #order-info-box form input[type='submit']:focus,#wrapper-dark #order-info-box form input[type='submit']:active{
    outline-color: #FFF;
    color: #FFF;
    border: none;
}

#wrapper-dark #order-info-box p.amount{
    margin:10px 0 10px 0;
    font-size:22px;
}

#wrapper-dark #order-info-box p.total{
    margin:15px 0 10px 0;
    font-size: 25px;
}

.vertical-center{
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#rotate{
    margin-left:15px;
    top:5px;
    position: relative;
    display:none;
}

footer{
    background: #ffa359;
    width:100%;
    height:59px;
    float:left;
}

footer div#footer-content p{
    padding-top:20px;
    text-align: center;
}

footer div#footer-content p #copy{
    margin-left:-105px;
}

footer div#footer-content p #copy span{
    font-size: 18px;
    margin-right:5px;
}

footer div#footer-content{
    width:1096px;
    margin:0 auto;
}

footer div#footer-content a#main{
    text-decoration: none;
    width:105px;
    padding: 20px 0 20px 0;
    color: #292927;
    font-size: 18px;
    float: left;
}

footer div#footer-content #share{
    margin-top:-20px;
    float:right;
}

footer div#footer-content #share a{
    float:right;
    color:#292927;
    text-decoration: none;
    margin-left:30px;
    font-size: 18px;
}

/* start slider */

.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.jssora061 {display:block;position:absolute;cursor:pointer;}
.jssora061 .a {fill:none;stroke:#fff;stroke-width:360;stroke-linecap:round;}
.jssora061:hover {opacity:.8;}
.jssora061.jssora061dn {opacity:.5;}
.jssora061.jssora061ds {opacity:.3;pointer-events:none;}

/* end slider */


@media only screen and (max-width: 1024px) {

    #header-text #inner-text{
        width: 100%;
    }

    #menu ul {
        width: 95%;
    }

    #content{
        width: 950px;
    }

    #hot_price_tablet{
        width: 100%;
        margin:0 auto
    }

    #hot_price_tablet .sushi_block:nth-child(-n+3){
        width: 303px;
        margin-right:20.5px;
    }

    #hot_price_tablet .sushi_block .sushi_block_text_tablet{
        width:230px;
        margin:0 auto;
    }

    #hot_price_tablet .sushi_block .sushi_block_text_tablet .sushi_text,#hot_price_tablet .sushi_block .sushi_block_text_tablet .sushi_price{
        text-align: center;
        width: 85%;
    }



    #hot_price_tablet .sushi_block .sushi_block_text_tablet .sushi_price{
        text-align: center;
    }

    .sushi_block .add_sushi,.sushi_block .remove_sushi,.sushi_block .checked_sushi{
        position: relative;
        margin: -54px 1px 0 0;
    }

    #contacts .contact-block{
        width: 452px;
        margin-right: 42px
    }

    #catalog_sushi{
        width: 600px;
    }

    #catalog_sushi #sushi_blocks{
        width: 520px;
        margin:0 auto;
    }

    #shopping-cart .cart-block .item-price, #shopping-cart .cart-block .item-prices{
        width: 140px;
    }

    #wrapper-dark #order-info-box{
        margin:10px auto;
    }

    footer div#footer-content{
        width: 100%;
    }

    footer div#footer-content #share{
        margin-right: 20px;
    }
}

@media only screen and  (max-width: 972px) {
    #content{
        width: 100%;
    }

    #menu ul {
        width: 100%;
    }

    #menu ul li:first-child{
        display:none;
    }

    #hot_price_tablet .sushi_block:nth-child(3){
        display:none;
    }

    #hot_price_tablet{
        width: 700px;
        margin:0 auto;
    }

    #hot_price_tablet .sushi_block:first-child{
        margin-right:90px;
    }

    #hot_price_tablet .sushi_block:nth-child(2){
        margin-right:0;
    }

    #shopping-cart .cart-block .item-price, #shopping-cart .cart-block .item-prices{
        width: 100px;
    }

    #about_us #about-us-content,#about_us #about-us-subtitle{
        width: 100%;
    }

    #reviews .review{
        float:none !important;
        width:80%;
        margin:0 auto;
        padding-bottom:50px;
    }

    #reviews .review-name{
        margin-bottom:60px;
    }

    #reviews .review .review-text{
        width: 100%;
        left:0 !important;
        margin-left:0 !important;
    }

    #contacts{
        width:80%;
        margin:0 auto;
        float:none;
    }

    #contacts .contact-block{
        width: 100%;
        margin-bottom:5px;
        margin-right:0;
    }

    #catalog_sushi{
        width: 500px;
    }
}

@media only screen and  (max-width: 890px) {
    #shopping-cart .cart-block .item-price,#shopping-cart .cart-block .item-prices{
        width:8%;
    }
}

@media only screen and  (max-width: 820px) {
    .cart-block .item-price{
        display:none;
    }

    #shopping-cart .cart-block .block-description{
        width:250px;
    }
}

@media only screen and  (max-width: 858px) {
    #catalog_sushi{
        width: 50%;
    }

    #catalog_sushi #sushi_blocks{
        width: 243px;
        margin:0 auto;
    }
}

@media only screen and  (max-width: 729px) {

    header {
        display:none;
    }

    #mobile_menu{
        margin: 15px 0 0 5px;
        display:block;
    }

    #mobile_menu img{
        float:left;
        height:56px;
    }

    #mobile_menu a#open_mobile_menu{
        background: url("../images/mobile_menu.png");
        position:relative;
        top:10px;
        right:8px;
        width: 44px;
        height:35px;
        float: right;
    }

    #mobile_menu a#open_filter_menu{
        background: url("../images/filter.png");
        position:relative;
        top:10px;
        right:20px;
        width: 37px;
        height:37px;
        float: right;
    }

    #mobile_menu ul.lang{
        display:block;
        width: 130px;
        margin:0 auto;
    }

    #mobile_menu ul.lang li{
        float:left;
        width: 32%;
        padding: 0;
    }

    #mobile_menu ul.lang li:nth-child(-n + 2){
        border-right:1px solid #292927;
    }

    #mobile_menu ul.lang li:hover{
        background: transparent !important;
    }

    #mobile_menu ul.lang li a{
        transition: 0.05s ease-in-out 0.05s;
        -webkit-transition: 0.05s ease-in-out 0.05s;
        -moz-transition: 0.05s ease-in-out 0.05s;
        -o-transition: 0.05s ease-in-out 0.05s;
    }

    #mobile_menu ul.lang li a:hover{
        color:#FFF;
    }

    #mobile_menu_block,#mobile_filter_block{
        position: fixed;
        width: 250px;
        height:100%;
        right:-250px;
        top:0;
        z-index: 10000;
        background: #ffa359;
        transition-duration: 1s;
    }

    #mobile_menu_block ul{
        margin-top:55px;
        text-align: center;
    }

    #mobile_menu_block ul li{
        float:left;
        width: 100%;
        padding:10px 0 10px 0;
        color:#292927;
    }

    #mobile_menu_block ul li:nth-child(n + 3){
        transition: 0.05s ease-in-out 0.05s;
        -webkit-transition: 0.05s ease-in-out 0.05s;
        -moz-transition: 0.05s ease-in-out 0.05s;
        -o-transition: 0.05s ease-in-out 0.05s;
    }

    #mobile_menu_block ul li:nth-child(n + 3):hover{
        background: #FFF;
    }

    #mobile_menu_block ul li a{
        width: 100%;
        float:left;
        text-decoration: none;
        color: #292927;
    }

    #wrapper{
        margin-top:-20px;
    }

    #slider{
        margin-bottom:10px;
    }

    .lang{
        display: none;
    }

    #hot_price_tablet{
        width: 100%;
    }

    #hot_price_tablet .sushi_block:nth-child(-n + 3){
        float:none;
        margin:30px auto !important;
        display:block;
    }

    #about_us #about-us-content{
        font-size: 15px;
    }

    #menu ul li{
        margin-left:0;
    }

    #header-text #inner-text p{
        margin-bottom:5px;
    }

    #catalog_see_all a{
        position:relative;
        top:15px;
    }

    .content-block{
        width: 97%;
        float:none;
        margin:0 auto;
    }

    #reviews{
        margin:20px auto;
    }

    #contacts{
        width:97%;
        margin:0 auto;
        float:none;
        bottom:30px;
        position:relative;
    }

    #catalog_menu{
        display:none;
    }

    #catalog_sushi{
        padding:0;
        width:100%;
    }

    #catalog_see_more{
        float:left;
    }

    .cart-block .block-description{
        display:none;
    }

    .cart-block .item-prices{
        width:25% !important;
        float:left;
        text-align: center;
    }

    #shopping-cart  .cart-block .mobile-cart-desc{
        display: block;
        margin-top:15px;
        font-size:20px;
    }

    #shopping-cart .cart-block .add-item-block{
        margin-top:22px;
    }

    #shopping-cart .cart-block .item-prices{
        height:100%;
        margin-top:-20px;
        text-align: center;
    }

    #shopping-cart .cart-block .action{
        margin-top:-20px;
        height: 100%;
        float:right;
    }

    #shopping-cart .block-image{
        margin-right:20px;
    }

}

@media only screen and  (max-width: 590px) {
    .cart-block .item-prices{
        width:18% !important;
        float:left;
    }

    #wrapper-dark #order-info-box{
        width: 95%;
    }

    #wrapper-dark #order-info-box form{
        width: 90%;
        left:20px;
    }
}

@media only screen and  (max-width: 515px) {
    .cart-block .block-image{
        width:100px !important;
    }

    #shopping-cart .cart-block .add-item-block{
        width:100px;
    }

    #shopping-cart .cart-block .add-item-block .item_qty_add,#shopping-cart .cart-block .add-item-block .item_qty_remove{
        width:20px;
    }

    #wrapper-dark #order-info-box{
        margin:0 auto;
    }

    #shopping-cart .cart-block .block-image{
        margin-right:15px;
    }

    #reviews .review-name{
        width: 300px;
        margin-left:-150px;
    }
}

@media only screen and  (max-width: 430px) {

    #about_us #about-us-subtitle{
        font-size: 18px;
        margin: 0 auto;
        margin-top: 7px;
    }

    #about_us #about-us-title{
        font-size: 22px;
    }

      #wrapper-dark #order-info-box form{
       top: 10px;
    }

    #wrapper-dark #order-info-box p.total,#wrapper-dark #order-info-box form p#order-info-title{
      font-size:20px;
    }
  
}


@media only screen and  (max-width: 355px) {

    #content .content-block#shopping-cart h1{
        top:30px;
        position: relative;
    }

    .cart-block .item-prices{
        width:30% !important;
    }

    .cart-block .block-image{
        width:50px !important;
    }

    #shopping-cart .cart-block .add-item-block{
        margin:10px 0 0 10px;
        width:60px;
    }

    #shopping-cart .cart-block .add-item-block .item_qty_add,#shopping-cart .cart-block .add-item-block .item_qty,#shopping-cart .cart-block .add-item-block .item_qty_remove{
        width: 20px;
    }

    #shopping-cart .cart-block .item-prices,#shopping-cart .cart-block .action{
        margin-top:-30px;    
    }

}

